/* Sidebar - gradient and clean look */
/* Change the sidebar color*/
[data-testid=stSidebar] {
  background-image: linear-gradient(#ebe5d4,#e6c3bc);
}

/* Nền gradient toàn trang */
[data-testid="stAppViewContainer"] {
   background: 
      radial-gradient(at top right, #e6c3bc, transparent 70%),
      radial-gradient(at bottom left, #efd0b0, transparent 70%),
      #ebe5d4;
}

/* === ĐỔI MÀU THANH HEADER === */
header[data-testid="stHeader"] {
    background-color: 		#ebe5d4
  }

.homepage h1 {
    font-family: 'Bungee', sans-serif;
}
.intro-box, .team-title {
    font-family: 'Poppins', sans-serif;
}


@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
}

.fade-in {
    animation: fadeIn 1.2s ease-out;
}

