/* Sidebar - gradient and clean look */
/* Change the sidebar color*/
[data-testid=stSidebar] {
  background-image: linear-gradient(#ff9248,#ffffff);
}

/* Nền gradient toàn trang */
[data-testid="stAppViewContainer"] {
    background-color: 			#ffead5
}

/* === ĐỔI MÀU THANH HEADER === */
header[data-testid="stHeader"] {
    background-color: 		#ffead5
  }



